.profile__img {
  max-width: 120px;
  width: 100%;
  border-radius: 50%;
  opacity: 1;
}

.profile__img:hover {
  opacity: 0.2;
  cursor: pointer;
}

@media screen and (max-width:1023px) {
  .profile__img {
    margin-right: 0;
  }
}
